<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Current Projects:</p>
        <ul>
            <li>Project Alpha</li>
            <li>Project Epsilon</li>
            <li>Project Omega</li>
        </ul>
        {{> footer}}
    </body>
</html>